<div class="container" data-controller="search">
  <!-- Searchbar -->
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= render 'shared/form' %>
    </div>
  </div>
  <!-- Results down here -->
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies" data-search-target="list">
        <%= render "shared/movies", movies: @movies %>
      </div>
    </div>
  </div>
</div>
